body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.form-container {
    width: 50%;
  }

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5c6bc0;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3949ab;
}

#notification {
  background-color: #c8e6c9;
  color: #2e7d32;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: none;
}

#ok-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffc107;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  display: none;
}

#ok-button:hover {
  background-color: #ffb300;
}
