.articles-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.article-card {
  position: relative;
  background-color: var(--background-container);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1.5rem;
  width: calc(25% - 2rem);
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}

.article-card:hover {
  transform: scale(1.03);
}

.article-card h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.article-card p {
  font-size: 1rem;
  margin-bottom: 20px;
}

#blog .title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#blog .date {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 20px;
}

#blog .tags {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 20px;
}

#blog .text {
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
}
