.articles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .article-card {
    position: relative;
    background-color: var(--background-container);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1.5rem;
    width: calc(25% - 2rem);
    padding-bottom: 100%; /* Ajoutez ceci */
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in-out;
  }

  .article-card > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .article-card:hover {
    transform: scale(1.03);
  }
  
  .article-card h2 {
    font-size: 1.3rem;
  }
  
  .article-card p {
    margin-bottom: 20px;
  }

  .article-date {
    font-size: 0.9rem; /* Réduisez la taille de la police */
    position: absolute; /* Positionne l'élément de manière absolue par rapport à son parent */
    bottom: 2px; /* Aligne l'élément en bas de son parent */
    left: 0; /* Aligne l'élément à gauche de son parent */
    right: 0; /* Aligne l'élément à droite de son parent */
    text-align: center; /* Centre le texte */
  }
  
  .article-tags {
    font-size: 0.9rem; /* Réduisez la taille de la police */
    text-align: center; /* Centre le texte */
    margin-top: 2px; /* Ajoutez une marge en haut pour séparer les tags du titre */
  }

  #blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100vw;
    margin: 0 auto;
  }
  
  #blog .title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #blog .date {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 20px;
  }
  
  #blog .tags {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 20px;
  }
  
  #blog .text {
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
  }
  