#<IfModule mod_expires.c>
#  ExpiresActive On
#
#  # Cache des images pendant 1 mois
#  ExpiresByType image/jpg "access plus 1 month"
#  ExpiresByType image/jpeg "access plus 1 month"
#  ExpiresByType image/gif "access plus 1 month"
#  ExpiresByType image/png "access plus 1 month"
#  ExpiresByType image/webp "access plus 1 month"
#
#  # Cache des fichiers CSS et JavaScript pendant 1 semaine
#  ExpiresByType text/css "access plus 1 week"
#  ExpiresByType application/javascript "access plus 1 week"
#  ExpiresByType application/x-javascript "access plus 1 week"
#</IfModule>

#<IfModule mod_headers.c>
#  <FilesMatch "\.(jpg|jpeg|png|wepb|gif|swf|css|js)$">
#    Header set Cache-Control "max-age=31536000, public"
#  </FilesMatch>
#</IfModule>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]