/* Réinitialisation CSS */
:root {
  --colorgen: #333;
  --text-color: #8a716c;
  --text-color-alt: #e58041;
  --background-color: #f5f5f5;
  --background-color-alt: #e7e7de;
  --background-container: #fefcfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Apparel", sans-serif;
  line-height: 1.6;
  color: var(--colorgen);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  background-color: var(--background-color);
  z-index: 10;
}

.titre-site {
  color: var(--text-color);
  font-size: 1.7rem;
}

.titre-site span {
  color: var(--text-color-alt);
}

.menu ul {
  display: flex;
}

.menu li {
  margin-left: 1rem;
}

.menu a {
  color: var(--text-color-alt);
  transition: color 0.3s ease;
  font-size: 1.1rem;
}

.menu a:hover {
  color: var(--text-color);
}

/* Hero Banner */

.hero-banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/hero.webp") no-repeat center center / cover;
  filter: brightness(70%);
  z-index: -1;
}

.container-hero {
  position: relative;
  text-align: center;
}

.slogan,
.description-hero {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  color: var(--background-color);
}

.slogan {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description-hero {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.bouton-hero {
  display: inline-block;
  background-color: var(--text-color-alt);
  color: var(--background-color);
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.bouton-hero:hover {
  background-color: var(--text-color);
}

/* Sections */

.titre-section {
  font-size: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

.sous-titre-section {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 3rem;
}

.section {
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  padding-top: 6%;
}

/* Classe spécifique pour les sections avec une couleur de fond alternative */

.section-alt {
  background-color: var(--background-color-alt);
}

/* Classe spécifique pour les sections avec la couleur de fond principale */

.section-main {
  background-color: var(--background-color);
}

/* Sections à propos */

.container-a-propos,
.container-image {
  display: flex;
  align-items: center;
}

.container-a-propos {
  flex-direction: column;
}

.container-titre,
.container-contenu {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.container-titre {
  align-items: center;
}

.container-contenu {
  flex-direction: row;
  align-items: center;
}

.container-image {
  flex-basis: auto;
  max-width: 400px;
  margin-top: 5px;
  justify-content: center;
  margin-bottom: 2rem;
}

.container-image .photo-createur {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.container-texte {
  text-align: justify;
  flex-basis: 50%;
  margin-right: 50px;
  margin-left: 50px;
}

.container-texte p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* Section Services */

.section-services .container-services {
  display: flex;
  justify-content: space-around; /* Changez "space-between" en "space-around" */
  flex-wrap: wrap;
  margin-top: 1rem;
}

.section-services .service {
  background-color: var(--background-container);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1.5rem;
  width: calc(25% - 2rem); /* Changez 33.333% en 25% pour afficher 4 services sur une ligne */
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out; /* Ajout de la transition */
}

.section-services .service:hover {
  transform: scale(1.03); /* Ajout du zoom lors du survol */
}

.section-services .service .icone-service {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.section-services .service h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.section-services .service p {
  font-size: 1rem;
}

/* Section Tarifs */

.section-tarifs .container-tarifs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.section-tarifs .tarif {
  background-color: var(--background-container);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1.5rem;
  width: calc(25% - 2rem); /* Modification ici */
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out; /* Ajout de la transition */
}

.section-tarifs .tarif:hover {
  transform: scale(1.03); /* Ajout du zoom lors du survol */
}

.section-tarifs .tarif h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.section-tarifs .tarif .prix-tarif {
  font-size: 1rem;
  font-weight: bold;
}

.section-tarifs .tarif p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.note-tarifs {
  margin-top: 3rem;
}

/* FAQ */

.container-faq {
  max-width: 1000px; /* Ajustez cette valeur selon vos préférences */
  margin: 0 auto; /* Centre la question sur la page */
}

.accordion {
  padding-top: 3rem;
  display: grid;
  gap: 1rem;
}

.accordion-item {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 1rem;
  background-color: var(--background-color-alt);
  cursor: pointer;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: max-height 0.3s ease-out;
  text-align: justify;
}

.fas {
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

/* Formulaire de contact */

.form-container {
  background-color: var(--background-container);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  margin: 3rem auto;
}

.form-container h2 {
  margin-bottom: 1rem;
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: var(--colorgen);
}

button[type="submit"] {
  display: inline-block;
  background-color: var(--text-color-alt);
  color: var(--background-color);
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color: var(--text-color);
  transition: background-color 0.3s ease;
}

.form-error {
  color: red;
  visibility: hidden;
}

.error-message {
  color: red;
  visibility: hidden;
}

/* Section Footer */

.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0.1rem 0;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 2rem;
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
  grid-column: 2;
}

.copyright span::before {
  content: " - ";
}

.reseaux-sociaux {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 3;
}

.reseaux-sociaux ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.reseaux-sociaux li {
  margin: 1rem;
}

.reseaux-sociaux i {
  font-size: 1.5rem;
  color: var(--text-color);
}

.reseaux-sociaux a:hover i {
  color: var(--text-color-alt);
}

/* Media Queries */

@media screen and (max-width: 768px) {
  /* Header */
  h3 {
    font-size: 1rem;
  }
  
  .header,
  .container-footer {
    flex-direction: column;
  }

  .menu ul {
    text-align: center;
  }

  .menu li {
    margin: 5px;
  }

  nav ul.menu li {
    margin-bottom: 0.5rem;
  }

  /* Section a propos */
  .section {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 50vh;
  }

  .container-contenu {
    flex-direction: column;
    margin: 10px;
  }
  .container-titre {
    margin-bottom: 0;
  }
  .titre-section {
    margin: 1rem;
    padding-bottom: 1rem;
  }
  .container-image {
    margin: 0rem;
    text-align: center;
  }
  .container-image .photo-createur {
    margin: 0 auto;
  }
  .container-texte {
    width: 100%;
    padding-top: 2rem;
  }


  /* Section Services et Tarifs */

  .section-services .container-services,
  .section-tarifs .container-tarifs{
    flex-direction: column;
    align-items: center;
  }

  .section-services .service,
  .section-tarifs .tarif{
    width: 100%;
    max-width: 100%;
    margin: 0 0 2rem;
    box-sizing: border-box;
  }

  /* Formulaire de contact */

  form {
    width: 100%;
  }

  .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .copyright span {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .container-footer {
    grid-template-columns: 1fr;
  }

  .copyright,
  .reseaux-sociaux {
    grid-column: 1;
  }

  .reseaux-sociaux {
    justify-content: center;
    margin-top: 1rem;
  }

  .titre-logo {
    display: none;
  }

  .copyright span::before {
    content: "";
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .section {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 50vh;
  }
 
  .titre-section {
    margin: 1rem;
    padding-bottom: 1rem;
  }

  .section-services .container-services,
  .section-tarifs .container-tarifs{
    justify-content: space-around;
  }

  .section-services .service,
  .section-tarifs .tarif {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }

  .copyright span {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .container-footer {
    grid-template-columns: 1fr;
  }

  .copyright {
    padding-top: 2rem;
  }

  .copyright,
  .reseaux-sociaux {
    grid-column: 1;
  }

  .reseaux-sociaux {
    justify-content: center;
  }

  .copyright span::before {
    content: "";
  }
}

/* Scrol et back to the top */

html {
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--text-color-alt);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
}

#backToTop:hover {
  background-color: var(--text-color);
}

#backToTop i {
  font-size: 20px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.hidden {
  display: none !important;
  pointer-events: none; /* Empêche les interactions avec la popup lorsqu'elle est cachée */
}

/* Popup */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
}

.popup-content {
  background-color: var(--background-container);
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative; /* Ajout de cette ligne */
}

.popup-content h3 {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.popup-content p {
  color: var(--text-color-alt);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Bouton close-popup */
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease;
  border: none; /* Ajout de cette ligne pour supprimer la bordure */
}

.close-popup:hover {
  color: var(--text-color-alt);
}

.close-popup i {
  vertical-align: middle;
}
